{%  extends "base.html.twig" %}

{% block body %}

    <div class="task-bar">
        <h1>My tasks</h1>
        <a href="{{ path('app_task_add') }}"><i class="fa-solid fa-plus"></i> Add a new task</a>
    </div>

    <table class="task-table">
        <tr>
            <td></td>
            <td>Name</td>
            <td>Status</td>
            <td>Deadline</td>
            <td>Actions</td>
        </tr>
        {% for task in tasks %}
            {{ component('taskitem', {task: task}) }}
        {% endfor %}
    </table>

{% endblock %}